<!-- Topbar Start -->
<div class="container-fluid bg-dark text-light p-0">
    <div class="row gx-0 d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
            <div class="h-100 d-inline-flex align-items-center me-4">
                <small class="fa fa-map-marker-alt text-primary me-2"></small>
                <small>Email: info@sirapollokaggwaschools.co.ug</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center">
                <small class="far fa-clock text-primary me-2"></small>
                <small>Mon - Sat : 08.00 AM - 04.00 PM</small>
            </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
            <div class="h-100 d-inline-flex align-items-center me-4">
                <small class="fa fa-phone-alt text-primary me-2"></small>
                <small>+256 782-626142</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center mx-n2">
                <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href="{{ .Site.Params.social.whatsapp}}">
                    <i class="fab fa-whatsapp" style="color: #25D366;"></i>
                </a>
                <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href="{{ .Site.Params.social.facebook}}">
                    <i class="fab fa-facebook-f" style="color: #2daece;"></i>
                </a>
                <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href="{{ .Site.Params.social.twitter}}">
                    <i class="fab fa-twitter" style="color: #1da1f2;"></i>
                </a>
                <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href="{{ .Site.Params.social.youtube}}">
                    <i class="fab fa-youtube" style="color: #FF0000;"></i>
                </a>
                
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->
