<!-- About Partial -->
<div class="container-xxl py-6">
    <div class="container">
        {{ $school := index site.Data.settings "school" }}
        {{ $general := index site.Data.settings "general" }}
        {{ $about := index site.Data.settings "about" }}
        
        <h3 class="text-primary text-uppercase text-center mb-2">About {{ $general.title }}</h3>
        <div class="row g-5 align-items-center">
            <!-- Slide Column -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div id="aboutCarousel" class="carousel slide about-carousel" data-bs-ride="carousel">
                    <div class="carousel-inner" style="max-height: 600px; overflow: hidden;">
                        {{ range $index, $image := $about.images }}
                        <div class="carousel-item {{ if eq $index 0 }}active{{ end }}">
                            <img src="{{ $image }}" class="d-block w-100" alt="About Image {{ add $index 1 }}">
                        </div>
                        {{ end }}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#aboutCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#aboutCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            
            <!-- Content Column -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h1 class="display-6 mb-4">{{ $school.motto }}</h1>
                    <p>{{ $school.summary1 }}</p>
                    <p class="mb-4">{{ $school.summary2 }}</p>
                    
                    <div class="row g-4">
                        <div class="col-sm-6">
                            <a class="btn btn-primary py-3 px-5" href="/about">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->