<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel">
      <div class="anniversary-image">
          <img src="/img/anniversary.jpeg" alt="Anniversary Image">
      </div>
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="5" aria-label="Slide 6"></button>
  </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/img/carousel1.webp" class="d-block w-100"  alt="Carousel Slide 1">
          <div class="content">
              <div class="topic">{{ .Site.Title}}</div>
              <div class="des text-center">We make learning fun</div>
          </div>
        </div>
        <div class="carousel-item" >
          <img src="/img/carousel2.webp" class="d-block w-100"  alt="Carousel Slide 2">
          <div class="content">
              <div class="author">We install self</div>
              <div class="topic">Confidence & public speech</div>
              <div class="des text-center">Our pupil Ahirire Faith crowned little miss tourism 2023-2024</div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/img/carousel3.webp" class="d-block w-100"  alt="Carousel Slide 3">
          <div class="content">
              <div class="topic">Pupils' Leadership Enhancement</div>
              <div class="des text-center">
                  Sir Apollo Kaggwa Scools - kisaasi Carbinet Pays a courtesy visit to Speaker of Parliament
              </div>
              
          </div>
        </div>
        <div class="carousel-item">
          <img src="/img/carousel4.webp" class="d-block w-100"  alt="Carousel Slide 4">
          <div class="content">
              <div class="author">Developing</div>
              <div class="topic">Talents</div>
              <div class="des text-center">
                  Participation in mini FUBA national basketball tournament
              </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/img/carousel5.webp" class="d-block w-100"  alt="Carousel Slide 5">
          <div class="content">
              <div class="topic">Prominent Parents</div>
              <div class="des text-center">Our Prominent Parent enjoys a light moment with ballet club pupils at Mengo branch</div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/img/carousel6.webp" class="d-block w-100"  alt="Carousel Slide 6">
          <div class="content">
              <div class="topic">Swimming Gala</div>
              <div class="des text-center">
                  Inter Sir Apollo Kaggwa Scools Swimming Gala
              </div>
          </div>
        </div>
      </div>
       <!-- Carousel controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
 </button>
 <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
 </button>
</div>

<!-- Carousel Javascript -->
<script src="/js/home_carousel.js"></script>