<div class="container text-center">
    <h2 class="text-uppercase">Reach out to us</h2>
    <div class="mt-4 d-flex align-items-center justify-content-center">
        <a href="tel:0701784133" class="text-decoration-none me-3">
            <i class="fas fa-phone-alt" style="color: #25D366; font-size: 40px;"></i>
        </a>
        <p style="color: #25D366; font-size: 40px;">0701784133</p>
    </div>
    <div class="mt-4 d-flex align-items-center justify-content-center">
        <a href="{{ .Site.Params.social.whatsapp }}" class="text-decoration-none me-3">
            <i class="fab fa-whatsapp" style="color: #4AC959; font-size: 40px;"></i>
        </a>
        <p style="color: #4AC959; font-size: 40px;">0701784133</p>
    </div>
    <div class="mt-4 d-flex align-items-center justify-content-center">
        <a href="mailto:example@example.com" class="text-decoration-none me-3">
            <i class="fas fa-envelope" style="color: #007BFF; font-size: 40px;"></i>
        </a>
        <p style="color: #007BFF; font-size: 40px;">example@example.com</p>
    </div>
</div>
