<!-- Container to limit the width of the gallery -->
<div class="container">
    <!-- Row to display images -->
    <div class="row">
        <!-- First Image -->
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/img/gallery/sw.jpg" data-fancybox="gallery">
                <div class="gallery-item rounded" style="background-color: #706c6c;">
                    <!-- Display the image -->
                    <img src="/img/gallery/sw.jpg" class="img-fluid rounded" alt="sw.jpg">
                    <!-- Caption -->
                    <div class="caption">
                        <p class="text-center">Students in swimming competitions</p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Second Image -->
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/img/gallery/rd.jpg" data-fancybox="gallery">
                <div class="gallery-item rounded" style="background-color: #706c6c;">
                    <!-- Display the image -->
                    <img src="/img/gallery/rd.jpg" class="img-fluid rounded" alt="Image 2">
                    <!-- Caption -->
                    <div class="caption">
                        <p class="text-center">Pupils playing</p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Third Image -->
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/img/gallery/bk.jpg" data-fancybox="gallery">
                <div class="gallery-item rounded" style="background-color: #706c6c;">
                    <!-- Display the image -->
                    <img src="/img/gallery/bk.jpg" class="img-fluid rounded" alt="Image 2">
                    <!-- Caption -->
                    <div class="caption">
                        <p class="text-center">Pupils playing basket ball</p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Fourth Image -->
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/img/gallery/vb.jpg" data-fancybox="gallery">
                <div class="gallery-item rounded" style="background-color: #706c6c;">
                    <!-- Display the image -->
                    <img src="/img/gallery/vb.jpg" class="img-fluid rounded" alt="Image 2">
                    <!-- Caption -->
                    <div class="caption">
                        <p class="text-center">Pupils playing Volley ball</p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Fifth Image -->
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/img/gallery/nb.jpg" data-fancybox="gallery">
                <div class="gallery-item rounded" style="background-color: #706c6c;">
                    <!-- Display the image -->
                    <img src="/img/gallery/nb.jpg" class="img-fluid rounded" alt="Image 2">
                    <!-- Caption -->
                    <div class="caption">
                        <p class="text-center">Pupils playing Net Ball</p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Sixth Image -->
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/img/gallery/pc.jpg" data-fancybox="gallery">
                <div class="gallery-item rounded" style="background-color: #706c6c;">
                    <!-- Display the image -->
                    <img src="/img/gallery/pc.jpg" class="img-fluid rounded" alt="Image 2">
                    <!-- Caption -->
                    <div class="caption">
                        <p class="text-center">Parents having group images with studnets</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
