<!-- Head teacher Message Start -->
<div class="container-xxl py-4">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h1 class="display-6 mb-4">HEAD TEACHER'S MESSAGE</h1>
                    <p>Welcome to fairways primary school- Kireka, a school that offers holistic and quality primary education in Uganda. Our children excel in National exams with only first grades and we are proud of this.

                        Not only that but also our pupils are equipped with skills in swimming, ball games, athletics, home economics, debate, and computer knowledge.
                        The school is multi-denominational because all religions are given an hour per week to strengthen their faith. We go-ahead to hold confirmation and holy communion functions at school yearly
                        
                        We shall be proud if you entrusted us with your child so that he/she can benefit from an enriched curriculum</p>
                    <div class="row g-4">
                        <div class="col-sm-6">
                            <h5>Nyumba Ronald</h5>
                            <h6>Head Teacher</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
                    <img class="position-absolute border border-danger border-2 start-0 top-0" src="img/hm.png" alt="Head master's message" style="object-fit: cover; height: 100%;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Head teacher Message End -->
