<!-- Head teacher Message Start -->
<div class="container-xxl py-4">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h1 class="display-6 mb-4">HEAD TEACHER'S MESSAGE</h1>
                    <p>{{ .Site.Params.school.hm }}</p>
                    <div class="row g-4">
                        <div class="col-sm-6">
                            <h5>{{ .Site.Params.school.hm_name}}</h5>
                            <h6>{{ .Site.Title}}</h6>
                            <a class="btn btn-primary py-2 px-5" href="/hm">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
                    <img class="position-absolute border border-danger border-2 start-0 top-0" src="img/hm.webp" alt="Head master's image" style="object-fit: cover; height: 100%;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Head teacher Message End -->
