<!-- Head teacher Message Start -->
<div class="container-xxl py-4">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h1 class="display-6 mb-4">HEAD TEACHER'S MESSAGE</h1>
                    <p>I am very pleased to write an article about Sir Apollo Kaggwa Primary School on this website. 
                    I thank you very much indeed for the support you rendered to this school.  I highly treasure the contribution you make towards the faster growth of this mighty school. Sir Apollo Kaggwa Primary School..</p>
                    <div class="row g-4">
                        <div class="col-sm-6">
                            <a class="btn btn-primary py-3 px-5" href="/contact">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
                    <img class="position-absolute border border-danger border-2 start-0 top-0" src="img/hm.png" alt="Head master's message" style="object-fit: cover; height: 100%;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Head teacher Message End -->
