<!-- layouts/about.html -->

<div class="container">
    <!-- Image at the top -->
    <div class="row">
        <div class="col-md-12">
            <img src="{{ .Params.image }}" alt="About Us" class="img-fluid mb-4">
        </div>
    </div>

    <!-- About section -->
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mb-4">{{ .Title }}</h2>
            <p class="lead text-center">Sir Apollo Kaggwa Schools are private primary schools registered with the Ministry of Education and Sports. We have a UNEB center number and offer education to both Ugandan and non-Ugandan children based on the Ugandan Curriculum. Our aim is to equip students with necessary life skills.</p>
            <p class="text-right">We provide a stimulating and credible learning environment that nurtures dynamic and talented young Ugandan citizens. Our goal is to ensure that all learners are equipped to meet the challenges of life.</p>
            <p class="text-right">The school anthems clearly indicate that children, teachers, and parents of Sir Apollo Kaggwa Primary School glorify the Lord, and their prayers ascend on high to achieve school goals and aspirations.</p>
            <p class="text-right">Our schools have maintained remarkable academic excellence and pupil welfare, thanks to the committed and caring directors, administrators, parents, and staff. We boast a number of school facilities that facilitate a conducive learning environment, including:</p>
            <ul>
                <li>Spacious classrooms</li>
                <li>Modern, spacious school libraries</li>
                <li>Computer classrooms with modern learning technology</li>
                <li>Separate art rooms</li>
                <li>An international standard swimming pool</li>
                <li>Playgrounds for basketball, netball, etc.</li>
                <li>A sick bay with a qualified nurse and necessary drugs</li>
                <li>A multi-purpose hall</li>
                <li>A modern kitchen</li>
            </ul>
            <p class="text-right">Our academic performance meets required standards, thanks to our well-trained staff members who are talented in handling pupils.</p>
            <p class="text-right">Discipline is a vital element in grooming pupils. It is the key to success, as evidenced by our good performance for many consecutive years. </p>
            <p class="text-right">The meals served in the school are appetizing, and each day has its menu, which varies with rice, matooke, sweet potatoes, beans, meat, and more.</p>

        </div>
    </div>
</div>
