<!-- Performance Metrics Container Start -->
<div class="container py-5">
    <h2 class="text-center text-primary">Our Previous Performance</h2>
    <div class="row text-center">
        <div class="col-md-4">
            <h2 class="text-danger">Number of Students</h2>
            <h3 class="display-4">1000</h3>
            <p>Sat for PLE</p>
        </div>
        <div class="col-md-4">
            <h2 class="text-danger">1st Grades</h2>
            <h3 class="display-4">750</h3>
            <p>Students</p>
        </div>
        <div class="col-md-4">
            <h2 class="text-danger">2nd Grades</h2>
            <h3 class="display-4">200</h3>
            <p>Students</p>
        </div>
    </div>
</div>
<!-- Performance Metrics Container End -->
