  <!-- Section Start: Sister Schools -->
  <div id="branches" class="ag-format-container">
    {{ if .Site.Params.mainSchool}}
    <h2>Our Branches</h2>
    {{ else }}
    <h2>Visit Our Other Sir Apollo Kaggwa Schools</h2>
    {{ end }}
    <h5 class="text-center">Click below to visit any of our School sites</h5>
    <div class="ag-courses_box">
      <div class="ag-courses_item">
        <a href="https://nakasero.sirapollokaggwaschools.co.ug/" class="ag-courses-item_link" target="_blank">
          <div class="ag-courses-item_bg"></div>
          <div class="ag-courses-item_title">
            Sir Apollo kaggwa Primary School - Nakasero (Day)
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="https://mengo.sirapollokaggwaschools.co.ug/" class="ag-courses-item_link" target="_blank">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Sir Apollo Kaggwa Primary School - Mengo (Day)
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="https://kisaasi.sirapollokaggwaschools.co.ug/" class="ag-courses-item_link" target="_blank">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Sir Apollo Kaggwa Primary School -  Kisaasi (Day)
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="https://kitintale.sirapollokaggwaschools.co.ug/" class="ag-courses-item_link" target="_blank">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Sir Apollo Kaggwa Primary School - Kitintale (Day)
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="https://kira.sirapollokaggwaschools.co.ug/" class="ag-courses-item_link" target="_blank">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Sir Apollo kaggwa Primary School - Kira (Day)
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="https://fairways.sirapollokaggwaschools.co.ug/" class="ag-courses-item_link" target="_blank">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Fairways Primary School - Kireka (Day)
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="https://old-kampala.sirapollokaggwaschools.co.ug/" class="ag-courses-item_link" target="_blank">
          <div class="ag-courses-item_bg">
          </div>
          <div class="ag-courses-item_title">
            Sir Apollo Kaggwa Boarding Primary School - Old Kampala
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="https://winston.sirapollokaggwaschools.co.ug/" class="ag-courses-item_link" target="_blank">
          <div class="ag-courses-item_bg"></div>
  
            <div class="ag-courses-item_title">
                Winston Day and Boarding Primary School - Kawempe
            </div>
        </a>
      </div>
      <div class="ag-courses_item">
        <a href="https://kyengera.sirapollokaggwaschools.co.ug/" class="ag-courses-item_link" target="_blank">
          <div class="ag-courses-item_bg"></div>
  
            <div class="ag-courses-item_title">
                Kyengera Parents' School - Kyengera (Day and Boarding) 
            </div>
        </a>
      </div>
      <div class="ag-courses_item">
        <a href="https://mugongo.sirapollokaggwaschools.co.ug/" class="ag-courses-item_link" target="_blank">
          <div class="ag-courses-item_bg"></div>
  
            <div class="ag-courses-item_title">
                Kyengera Parents' School - Mugongo (Day and Boarding)
            </div>
        </a>
      </div>

    </div>
  </div>
<!-- Section End -->