<!-- Testimonial Start -->
    <div class="container-xxl py-6">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h6 class="text-primary text-uppercase mb-2">TESTIMONIALS</h6>
                <h1 class="display-6 mb-4">What Our Parents Say!</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="owl-carousel testimonial-carousel">
                        <div class="testimonial-item text-center">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-circle mx-auto" src="/img/testimonial-2.png" alt="">
                                <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle" style="width: 60px; height: 60px;">
                                    <i class="fa fa-quote-left fa-2x text-primary"></i>
                                </div>
                            </div>
                            <p class="fs-4">All my children have gone through Sir Apollo Kaggwa P/S Mengo and I don't regret it at all. They brought the best out of them. And my First born got 4 aggregates. Now at Kings College Budo.
                                 Thumbs up to the staff, pupils and parents of Sir Apollo schools.</p>
                            <hr class="w-25 mx-auto">
                            <h5>LYNN KUNIHIRA AKKY</h5>
                            <span>Parent</span>
                        </div>
                        <div class="testimonial-item text-center">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-circle mx-auto" src="/img/testimonial-1.png" alt="">
                                <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle" style="width: 60px; height: 60px;">
                                    <i class="fa fa-quote-left fa-2x text-primary"></i>
                                </div>
                            </div>
                            <p class="fs-4">Sir Apollo molds what a parent wants his/her child to be cause their motto is they enable the future Sir Apollo molds future leaders currently
                                 most of the head-prefects in these first class secondary schools are former Sir Apollo Students so i encourage you pupils to discover your talent in Sir Apollo because it is…</p>
                            <hr class="w-25 mx-auto">
                            <h5>KWAGZY BREEZY</h5>
                            <span>Teacher</span>
                        </div>
                        <div class="testimonial-item text-center">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-circle mx-auto" src="/img/testimonial-3.png" alt="">
                                <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle" style="width: 60px; height: 60px;">
                                    <i class="fa fa-quote-left fa-2x text-primary"></i>
                                </div>
                            </div>
                            <p class="fs-4">Sir Apollo Kaggwa P/S Mengo has set a great Academic Pace in Central Region…….it has not compromised our expectations…..BIG UP's for the Administration team and teaching staff!!!</p>
                            <hr class="w-25 mx-auto">
                            <h5>CHARITY BYARUBAGA</h5>
                            <span>Parent</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->