<!-- Page Header Start -->
<div class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center">
        <h1 class="display-4 text-white animated slideInDown mb-4">{{ .Title }}</h1>
        <!-- Social Media Icons -->
        <div class="social-icons">
            <a href="#" class="text-decoration-none me-3"><i class="fab fa-whatsapp" style="color: #25D366; font-size: 36px;"></i></a>
            <a href="#" class="text-decoration-none me-3"><i class="fab fa-facebook-f" style="color: #3b5998; font-size: 36px;"></i></a>
            <a href="#" class="text-decoration-none me-3"><i class="fab fa-twitter" style="color: #1da1f2; font-size: 36px;"></i></a>
            <a href="#" class="text-decoration-none me-3"><i class="fab fa-instagram" style="color: #c13584; font-size: 36px;"></i></a>
            <a href="#" class="text-decoration-none"><i class="fab fa-linkedin" style="color: #0077b5; font-size: 36px;"></i></a>
            <!-- Add more social media icons as needed -->
        </div>
    </div>
</div>
<!-- Page Header End -->
