{{ define "main" }}
{{ partial "sections/topheader.html" . }}
<div class="container-xxl py-6">
  <div class="container">
      <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
          <h3 class="text-danger text-uppercase mb-2">School Blog</h3>
      </div>
      <div class="row g-4 justify-content-center">
        {{ range $index, $page := .Pages }}
          {{ if lt $index 2 }}
          <!-- First two posts in larger columns -->
          <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <a href="{{ .Permalink }}" class="text-decoration-none">
                <div class="courses-item d-flex flex-column bg-light overflow-hidden h-100">
                    <div class="text-center p-4 pt-0">
                        <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">Latest News</div>
                        <h5 class="mb-3 text-dark">{{ .Title }}</h5>
                        <p>{{ .Summary | truncate 150 }}</p>
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item small">
                                <i class="fa fa-calendar-alt text-primary me-2"></i>{{ .Date.Format "January 2, 2006" }}
                            </li>
                        </ol>
                    </div>
                    <div class="position-relative mt-auto">
                        <img class="img-fluid" src="{{ .Params.thumbnail }}" alt="{{ .Title }}">
                    </div>
                </div>
              </a>
          </div>
          {{ else }}
          <!-- Remaining posts in full width row format -->
          <div class="col-lg-12 col-md-12 wow fadeInUp" data-wow-delay="0.1s">
              <div class="courses-item d-flex flex-column bg-light overflow-hidden h-100">
                  <div class="row g-0">
                      <div class="col-md-4">
                          <a href="{{ .Permalink }}">
                            <img class="img-fluid" src="{{ .Params.thumbnail }}" alt="{{ .Title }}">
                          </a>
                      </div>
                      <div class="col-md-8">
                          <div class="text-center p-4 pt-0">
                              <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">News</div>
                              <a href="{{ .Permalink }}" class="text-decoration-none">
                                <h5 class="mb-3 text-dark">{{ .Title }}</h5>
                              </a>
                              <p>{{ .Summary | truncate 150 }}</p>
                              <ol class="breadcrumb justify-content-center mb-0">
                                  <li class="breadcrumb-item small">
                                      <i class="fa fa-calendar-alt text-primary me-2"></i>{{ .Date.Format "January 2, 2006" }}
                                  </li>
                              </ol>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          {{ end }}
        {{ end }}
      </div>
  </div>
</div>
{{ end }}
