<section class="form_container">
    <header>Student Application Form</header>
    <form id="myForm" action="https://docs.google.com/forms/d/e/1FAIpQLSdJICIHUD9PL20Nn6X_vVd4RqAKSSCy9HaqpxZrH8U3wNSNKQ/formResponse" class="form" method="POST" target="hiddenConfirm">
     <div class="column">
        <div class="input-box">
          <label>Student Name <span>*</span></label>
          <input type="text" placeholder="Enter Student name" required name="entry.1415943982" />
        </div>
        <div class="input-box">
          <label>Age <span>*</span></label>
          <input type="number" placeholder="No. of Years" required name="entry.1985295385" />
        </div>
      </div>
      <div class="gender-box">
        <h3>Gender <span>*</span></h3>
        <div class="gender-option">
          <div class="gender">
            <input type="radio" id="male" name="entry.541075134" value="Male" required />
            <label for="male">Male</label>
          </div>
          <div class="gender">
            <input type="radio" id="female" name="entry.541075134" value="Female" />
            <label for="female">Female</label>
          </div>            
        </div>
      </div>
      
      <div class="input-box address">
        <label>Sir Apollo Kaggwa School of Choice <span>*</span></label>
        <div class="select-box">
          <select name="entry.255456706" required>
            <option value="" disabled selected hidden>Sir Apollo Kaggwa School of Choice</option>
            <option value="Sir Apollo kaggwa Primary School - Kiira (Day School)" style="color: #FF5733; font-weight: bold;">Sir Apollo kaggwa Primary School - Kiira (Day School)</option>
            <option value="Sir Apollo kaggwa Primary School - Nakasero (Day School)" style="color: #FFC300; font-weight: bold;">Sir Apollo kaggwa Primary School - Nakasero (Day School)</option>
            <option value="Sir Apollo Kaggwa Primary School - Mengo (Day School)" style="color: #900C3F; font-weight: bold;">Sir Apollo Kaggwa Primary School - Mengo (Day School)</option>
            <option value="Sir Apollo Kaggwa Primary School - Kisaasi (Day School)" style="color: #581845; font-weight: bold;">Sir Apollo Kaggwa Primary School - Kisaasi (Day School)</option>
            <option value="Sir Apollo Kaggwa Primary School - Kitintale (Day and Boarding)" style="color: #2E86C1; font-weight: bold;">Sir Apollo Kaggwa Primary School - Kitintale (Day and Boarding)</option>
            <option value="Sir Apollo Kaggwa Boarding Primary School - Old Kampala (Only Boarding School)" style="color: #138D75; font-weight: bold;">Sir Apollo Kaggwa Boarding Primary School - Old Kampala (Only Boarding School)</option>
            <option value="Fairways Primary School - Kireka (Day School)" style="color: #F39C12; font-weight: bold;">Fairways Primary School - Kireka (Day School)</option>
            <option value="Winston Day and Boarding Primary School - Kawempe" style="color: #CB4335; font-weight: bold;">Winston Day and Boarding Primary School - Kawempe</option>
            <option value="Kyengera Parents' School - Kyengera (Day and Boarding)" style="color: #8E44AD; font-weight: bold;">Kyengera Parents' School - Kyengera (Day and Boarding)</option>
            <option value="Kyengera Parents' School - Mugongo (Day and Boarding)" style="color: #1ABC9C; font-weight: bold;">Kyengera Parents' School - Mugongo (Day and Boarding)</option>
          </select>
        </div>     
        <label for="entry.2084440770">Class to be admitted <span>*</span></label>     
        <div class="select-box">
          <select name="entry.2084440770" required>
            <option value="" disabled selected hidden>Class to be admitted</option>
            <option value="Baby Class">Kindergarten One</option>
            <option value="Middle Class">Kindergarten Two</option>
            <option value="Top Class">Kindergarten Three</option>
            <option value="Primary One">Primary One</option>
            <option value="Primary Two">Primary Two</option>
            <option value="Primary Three">Primary Three</option>
            <option value="Primary Four">Primary Four</option>
            <option value="Primary Five">Primary Five</option>
            <option value="Primary Six">Primary Six</option>
            <option value="Primary Seven">Primary Seven</option>
          </select>
        </div>          
      </div>

      <label for="entry.2085753703">Booking Year of Entry <span>*</span></label>     
    <div class="select-box">
          <select name="entry.2085753703" required>
        <option value="" disabled selected hidden>Booking Year of Entry</option>
        <!-- JavaScript to generate options for 5 years starting from the current year -->
        <script>
          var select = document.querySelector('select[name="entry.2085753703"]');
          var currentYear = new Date().getFullYear();
          for (var i = 0; i < 6; i++) {
            var year = currentYear + i;
            var option = document.createElement('option');
            option.value = year;
            option.textContent = year;
            select.appendChild(option);
          }
        </script>
        </select>
    </div>



      <div class="column">
        <div class="input-box">
          <label>Name of Parent/Guardian <span>*</span></label>
          <input name="entry.1414378988" type="text" placeholder="Enter Name of Parent/Guardian" required />
        </div>
        <div class="input-box">
          <label>Parent/Guardian Contact <span>*</span></label>
          <input name="entry.273051893" type="number" placeholder="Enter phone number" required />
        </div>
      </div>

      <div class="column">
        <div class="input-box">
          <label>WhatsApp Number</label>
          <input name="entry.1376171515" type="number" placeholder="Enter WhatsApp Number" required />
        </div>
        <div class="input-box">
          <label>Email <span>*</span></label>
          <input name="entry.957079606" type="email" placeholder="Enter Email" required />
        </div>
      </div>
     
      <div class="input-box address">
        <label>Current School Information</label>
        <input name="entry.661349028" type="text" placeholder="Enter Name of Current School" required />
        <div class="select-box">
          <select name="entry.1344566777" required>
            <option value="" disabled selected hidden>Class at Current School</option>
            <option value="Baby Class">Baby Class</option>
            <option value="Middle Class">Middle Class</option>
            <option value="Top Class">Top Class</option>
            <option value="Primary One">Primary One</option>
            <option value="Primary Two">Primary Two</option>
            <option value="Primary Three">Primary Three</option>
            <option value="Primary Four">Primary Four</option>
            <option value="Primary Five">Primary Five</option>
            <option value="Primary Six">Primary Six</option>
            <option value="Primary Seven">Primary Seven</option>
          </select>
        </div>
      </div>
      <div class="declaration-box">
        <p>By submitting this form, I hereby declare that the information provided is true and correct to the best of my knowledge. I understand that any false or misleading information may be grounds for rejection of this application or future dismissal if admitted. I agree to abide by the rules and regulations of Sir Apollo Kaggwa Schools.</p>
        <div class="declaration-options">
          <div class="option">
            <input type="radio" id="agree" name="entry.1360888584" value="Agree" required />
            <label for="agree">Agree <span>*</span></label>
          </div>
          <div class="option">
            <input type="radio" id="disagree" name="entry.1360888584" value="Disagree" />
            <label for="disagree">Disagree</label>
          </div>
        </div>
      </div>
      
      <button type="submit">Submit</button>
    </form>
  </section>