<!-- Alumni Section -->
<section id="alumni" class="py-5">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <!-- Image for Alumni -->
              <img src="/img/alumni.jpg" class="img-fluid mb-4" alt="Alumni Image">
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <!-- Welcome Message and Description -->
              <p class="lead">We warmly welcome all alumni of Sir Apollo Kaggwa Schools. Your journey with us has been an integral part of our history, and we're excited to reconnect with you.</p>
          </div>
      </div>
  </div>
</section>


<section class="form_container">
  <header>Alumni Registration Form</header>
  <form id="myForm" action="https://docs.google.com/forms/d/e/1FAIpQLSe3lY03IMaK1dZTTSL3XvZCvtdOAAyZyzRHC_u2CxZoZmaoGQ/formResponse" class="form" method="POST" target="hiddenConfirm">
      <div class="column">
          <div class="input-box">
              <label>Name of Former Student <span>*</span></label>
              <input type="text" placeholder="Enter Former Student name" required name="entry.1530873410" />
          </div>
      </div>
      <div class="input-box address">
          <label>Former Sir Apollo Kaggwa School <span>*</span></label>
          <div class="select-box">
              <select name="entry.1868821997" required>
                <option value="" disabled selected hidden>Sir Apollo Kaggwa School of Choice</option>
                <option value="Sir Apollo kaggwa Primary School - Kiira">Sir Apollo kaggwa Primary School - Kiira</option>
                <option value="Sir Apollo kaggwa Primary School - Nakasero (Day)">Sir Apollo kaggwa Primary School - Nakasero (Day)</option>
                <option value="Sir Apollo Kaggwa Primary School - Mengo (Day)">Sir Apollo Kaggwa Primary School - Mengo (Day)</option>
                <option value="Sir Apollo Kaggwa Primary School - Kisaasi (Day)">Sir Apollo Kaggwa Primary School - Kisaasi (Day)</option>
                <option value="Sir Apollo Kaggwa Primary School - Kitintale (Day)">Sir Apollo Kaggwa Primary School - Kitintale (Day)</option>
                <option value="Sir Apollo Kaggwa Boarding Primary School - Old Kampala">Sir Apollo Kaggwa Boarding Primary School - Old Kampala</option>
                <option value="Fairways Primary School - Kireka (Day)">Fairways Primary School - Kireka (Day)</option>
                <option value="Winston Day and Boarding Primary School - Kawempe">Winston Day and Boarding Primary School - Kawempe</option>
                <option value="Kyengera Parents Primary School - Kyengera (Day and Boarding)">Kyengera Parents Primary School - Kyengera (Day and Boarding)</option>
                <option value="Kyengera Parents Primary School - Mugongo (Day and Boarding)">Kyengera Parents Primary School - Mugongo (Day and Boarding)</option>
              </select>
          </div>
      </div>
      <label>Please indicate Years of Presence in Sir Apollo Kaggwa School <span>*</span></label>
      <div class="column">
        <div class="select-box">
            <select name="entry.1630867065" required>
                <option value="" disabled selected hidden>Class Of</option>
            </select>
        </div>
        <div class="select-box">
            <select name="entry.353897742" required>
                <option value="" disabled selected hidden>To</option>
            </select>
        </div>
    </div>
    
      <div class="column">
          <div class="input-box">
              <label>Contact Number <span>*</span></label>
              <input name="entry.680428585" type="number" placeholder="Enter phone number" required />
          </div>
          <div class="input-box">
              <label>WhatsApp Number</label>
              <input name="entry.1812272192" type="number" placeholder="Enter WhatsApp Number" />
          </div>
      </div>
      <div class="input-box">
          <label>Email <span>*</span></label>
          <input name="entry.1380497666" type="email" placeholder="Enter Email" required />
      </div>
      <div class="column">
        <div class="input-box">
            <label>Current Address <span>*</span></label>
            <input name="entry.377755853" type="text" placeholder="Enter Current Address" required />
        </div>
        <div class="input-box">
            <label>Current Responsibilty <span>*</span></label>
            <input name="entry.1559494065" type="text" placeholder="Enter Current Responsibility" />
        </div>
    </div>
    <div class="declaration-box">
        <p>By submitting this form, I hereby declare that I am a former student of Sir Apollo Kaggwa Schools. I understand that the information provided will be used for alumni registration purposes only.</p>
        <div class="declaration-options">
            <div class="option">
                <input type="radio" id="confirm" name="entry.1457461731" value="Confirm" required />
                <label for="confirm">Confirm <span>*</span></label>
            </div>
            <div class="option">
                <input type="radio" id="decline" name="entry.1457461731" value="Decline" />
                <label for="decline">Decline</label>
            </div>
        </div>
    </div>
    
      <button type="submit">Submit</button>
  </form>
</section>
<script>
    // Get current year
    var currentYear = new Date().getFullYear();

    // Populate start year dropdown
    var startYearSelect = document.querySelector('select[name="entry.1630867065"]');
    for (var year = 1996; year <= currentYear; year++) {
        var option = document.createElement('option');
        option.value = year;
        option.text = year;
        startYearSelect.appendChild(option);
    }

    // Populate end year dropdown
    var endYearSelect = document.querySelector('select[name="entry.353897742"]');
    for (var year = 1996; year <= currentYear; year++) {
        var option = document.createElement('option');
        option.value = year;
        option.text = year;
        endYearSelect.appendChild(option);
    }
</script>