<!-- Contact Start -->
 <div class="container-xxl py-6">
    <div class="container">
        <div class="row pb-5">
            <div class="col-md-3">
            <div class="dbox w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
            <span class="fab fa-whatsapp" style="color: #4AC959; font-size: 40px;"></span>
            </div>
            <div class="text">
            <p><span>Whatsapp:</span> +256 782626142</p>
            </div>
            </div>
            </div>
            <div class="col-md-3">
            <div class="dbox w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
            <span class="fa fa-phone" style="color: #4a81c9; font-size: 40px;"></span>
            </div>
            <div class="text">
            <p><span>Phone: {{ .Site.Params.social.tel}}</span></p>
            </div>
            </div>
            </div>
            <div class="col-md-3">
            <div class="dbox w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
            <span class="fa fa-paper-plane" style="color: #c94a4a; font-size: 40px;"></span>
            </div>
            <div class="text">
            <p><span>{{ .Site.Params.social.email}}</span></p>
            </div>
            </div>
            </div>
            <div class="col-md-3">
            <div class="dbox w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
            <span class="fa fa-globe" style="color: #270404; font-size: 40px;"></span>
            </div>
            <div class="text">
            <p><span>www.sirapollokaggwaschools.co.ug</span></p>
            </div>
            </div>
            </div>
            </div>
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 450px;">
                <div class="position-relative h-100">
                    <iframe class="position-relative w-100 h-100"
                    src="https://www.google.com/maps/d/u/3/embed?mid=1w_h5GKUMKM9kyRGf_KAepWRKmcHoCNc&z=11&ehbc=2E312F"
                    
                    width="640" height="480"></iframe>
            
                    
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <h1 class="display-6 mb-4">If You Have Any Query, Please Contact Us</h1>

                <form id="myForm" action="https://docs.google.com/forms/d/e/1FAIpQLSf5coJvclPMW71bzU3CDCrbRcEVw137D9AZMe4rmLQ2KY2-Ig/formResponse" 
                method="POST" target="hiddenConfirm">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control border-0 bg-light" id="name" name="entry.1102758237" placeholder="Your Name">
                                <label for="name">Your Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control border-0 bg-light" id="email" name="entry.795743780" placeholder="Your Email">
                                <label for="email">Your Email</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control border-0 bg-light" id="subject" name="entry.1011376382" placeholder="Subject">
                                <label for="subject">Subject</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control border-0 bg-light" placeholder="Leave a message here" id="message" name="entry.1310971257" style="height: 150px"></textarea>
                                <label for="message">Message</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary py-3 px-5" type="submit">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->